@{
    Layout = "~/Views/Shared/Adminbar.cshtml";
}

@using Check.Models
@model IEnumerable<Check.Models.Course>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Courses</title>



    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/modern-business.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>


    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Android Projects</h2>
                    <table class="table table-hover">
                        <tr>
                            <th>Course ID</th>
                            <th>Course Name</th>
                            


                        </tr>
                        @{
                            foreach (Course i in Model)
                            {
                                <tr>
                                    <td>@i.Id</td>
                                    <td>@i.CourseName</td>
                                     


                                    <td>@Html.ActionLink("Delete", "DeleteCourse", new { Id = i.Id })</td>
                                </tr>
                            }

                        }

                    </table>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

</body>
</html>
