@{
    Layout = "~/Views/Shared/Adminbar.cshtml";
}

@using Check.Models
@model IEnumerable<Check.Models.DotNet>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dot Net projects</title>



    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/modern-business.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Android Projects</h2>
                    <table class="table table-hover">
                        <tr>
                            <th>Project ID</th>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>Actions</th>


                        </tr>
                        @{
                            foreach (DotNet i in Model)
                            {
                                if(i.ProjectName !=null  && i.Description!=null)
                                { 
                                <tr>
                                    <td>@i.Id</td>
                                    <td>@i.ProjectName</td>
                                    <td>@i.Description</td>


                                    <td>@Html.ActionLink("Delete", "DeleteDotnet", new { Id = i.Id })</td>
                                </tr>
                                 }
                            }

                        }

                    </table>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</body>
</html>
