@{
    Layout = "~/Views/Shared/EditProfile.cshtml";
}

 @using Check.Models
@model IEnumerable<Check.Models.PHP>
<!DOCTYPE html>
<html lang="en">
<head>
     <title>Courses</title>
     
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/modern-business.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>

</head>
 
    <body>
         
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        ITech Professional Courses
                        <small>PHP</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/Home">Home</a>
                        </li>
                        <li class="active">PHP Videos</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- Project One -->
            <div class="row">
                <div class="col-md-7">
                   
 
                    @foreach (var s in Model)
                    {
                        if (s.Video != null)
                        {
                            <video width="320" height="400" controls>
                                <source src="@s.Video" type="video/mp4">
                            </video>

                        }

                    }
                     
                  </div>
                <div class="col-md-5">
                    <h3>PHP Video 1</h3>
                    <h4>Introduction</h4>
                    <p> In this video you will learn about basics of PHP language thst is most promising technology and its language syntax</p>
                    <a class="btn btn-primary" href="/Home/Courses">Download Video </a>
                </div>
            </div>
            <!-- /.row -->
            <hr>
             
            
            <footer>
                <div>
                    <div class="row">

                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <h4 id="addComment">Leave a Comment:</h4>


                            <form action="~/Comment/AddedPHPComment">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Comment</label>
                                    <textarea rows="1" aria-disabled="true" name="Comments" class="form-group form-control" placeholder="Comment" required data-validation-required-message="Please enter a Comment."></textarea>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Comment" />
                            </form>
                            <br>

                        </div>
                    </div>


                    <div class="col-lg-3 alert-success" style="margin-left:230px">

                        <label typeof="text" class="alert-danger" style="margin-left:30px">User Comments</label>
                        <ul>

                            @foreach (var e in Model)
                            {
                                if (e.Comments != null)
                                {
                                    <li>@e.Comments </li>
                                }

                            }
                        </ul>
                    </div>

                </div>

            </footer>
            
                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Your Website 2015</p>
                        </div>
                    </div>
                </footer>
            </div>
        <!-- /.container -->
         

        </body>
</html>
