@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

    <html>

    <head>
        <title>Company</title>

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

        <link href="~/Content/modern-business.css" rel="stylesheet" />

        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.js"></script>
    </head>

    <body>
        <br>
        <div class="row">

            <div class="col-md-3">

                <div class="list-group-item-info">

                    <a href="#" class="list-group-item active ">Company</a>
                    <a href="" class="list-group-item ">About us</a>
                    <a href="" class="list-group-item">FAQ</a>
                    <a href="" class="list-group-item">Contact us</a>
                   
                </div>
            </div>

            <div class="col-xs-5">

                <div class="alert alert-warning"><h1>Company </h1></div>
                <p>“ITech” is a partnership firm based in Lahore, Pakistan, owned by its principal investors and principal operators. It's branch office is in Maryland, USA.</p>
                <p><b>Keys to Success</b>
- Excellence in fulfilling the promise -- completely, confidentially, reliably, and with complete trust
-	Leveraging from a single pool of expertise into multiple opportunities</p>

               
                <div class="alert alert-warning"><h1>About us </h1></div>
                <b>
                    Vision Statement
                    "To become a reliable IT partner and recognized practical knowledge hub of Information Technology"
                </b>

                <div class="alert alert-warning"><h1>FAQ </h1></div>
                <p>Here all text of IT Books Publications</p>

                <div class="alert alert-warning"><h1>Contact us </h1></div>
                <p>For any Question feel free <br> mail at:bitf12m547@pucit.edu.pk<br>
                Contact #:03227596954</p>

            </div>

            
        </div>
        <br><hr><br>
    </body>
</html>
