@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!DOCTYPE html>
<html lang="en">
<head>
     <title>Courses Videos</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/modern-business.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Our Courses Videos
                    <small>Introductions</small>
                </h1>
               
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                 <h1>Here Video Code</h1>
            </div>
            <div class="col-md-4">
                <div class="alert-success"><h3>Video Description</h3></div>
                <p> Web Development videos</p>
                <div class="alert-success">
                    <h3>Video Details</h3></div>
                    <ul>
                        <li>Learning</li>
                        <li>Exercise</li>
                        <li>Understanding</li>
                        <li>Comments</li>
                    </ul>
                </div>
        </div>
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">More Videos</h3>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <h3 >Register For Complete Video Course</h3><br>
        <div class="col-md-4 "  >

       <a class="btn btn-lg btn-primary btn-block" href="/Login/Signup">Register For Course</a> 
        </div>
        <br>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2015</p>
                </div>
            </div>
        </footer>
    </div>
    
</body>
</html>
